<!DOCTYPE html>
<html lang="en">
<head>
    <!-- meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Club La Ribera</title>

    <!-- CSS -->
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/fontawesome-all.css" rel="stylesheet" />
    <link href="~/css/slick-slider.css" rel="stylesheet" />
    <link href="~/css/jquery.fancybox.min.css" rel="stylesheet" />
    <link href="~/css/smartmenus.css" rel="stylesheet" />
    <link href="~/style.css" rel="stylesheet" />
    <link href="~/css/color.css" rel="stylesheet" />
    <link href="~/css/responsive.css" rel="stylesheet" />

</head>
<body class="home">
    <div id="ritekhela-loader">
        <div id="ritekhela-loader-inner">
            <div id="ritekhela-shadow"></div>
            <div id="ritekhela-box"></div>
        </div>
    </div>

    <div class="ritekhela-wrapper">

        <!--// Header //-->
        <header id="ritekhela-header" class="ritekhela-header-one">

            <!--// TopStrip //-->
            <div class="ritekhela-topstrip">
                <div class="container">
                    <div class="row">

                        <aside class="col-md-6">
                            <strong>Novedades :</strong>
                            <div class="ritekhela-latest-news-slider">
                                <div class="ritekhela-latest-news-slider-layer">Bienvenido!! Podés ingresar o crear una cuenta de socio activo. </div>
                                <div class="ritekhela-latest-news-slider-layer">Visita nuestra sección de ventas y realiza tu pedido! </div>  <!--// Actualizar por código //-->
                            </div>
                        </aside>
                        <aside class="col-md-6">
                            <ul class="ritekhela-user-strip">
                                <li><a href="#" onclick="modalLogin();"><i class="fa fa-user-alt"></i> Iniciar sesión </a></li>
                                <li><a href="#" onclick="modalRegistro();"><i class="fa fa-user-check"></i> Registrarme </a></li>
                                <li><a href="#" data-toggle="modal" data-target="#ritekhelamodalrg"><i class="fa fa-sign-in-alt"></i> Cerrar sesión </a></li>
                            </ul>
                        </aside>

                    </div>
                </div>
            </div>
            <!--// TopStrip //-->
            <!--// Main Header //-->
            <div class="ritekhela-main-header">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <a href="index-2.html" class="ritekhela-logo"><img src="images/logo.jpg" alt=""></a>
                            <div class="ritekhela-right-section">
                                <div class="ritekhela-navigation">
                                    <span class="ritekhela-menu-link">
                                        <span class="menu-bar"></span>
                                        <span class="menu-bar"></span>
                                        <span class="menu-bar"></span>
                                    </span>
                                    <nav id="main-nav">
                                        <ul id="main-menu" class="sm sm-blue">
                                            <li class="active"><a href="index-2.html">Inicio</a></li>
                                            <li class="megamenu-wrap">
                                                <a href="#">Programación</a>
                                                <ul class="ritekhela-megamenu">
                                                    <li class="row">
                                                        <div class="col-md-3">
                                                            <h4>Categorías</h4>
                                                            <div class="ritekhela-megalist">
                                                                <div class="list"><a href="programacion_categoria2004.html">Categoría 2004</a></div>
                                                                <div class="list"><a href="programacion_categoria2005.html">Categoría 2005</a></div>
                                                                <div class="list"><a href="programacion_categoria2007.html">Categoría 2007</a></div>
                                                                <div class="list"><a href="programacion_categoria2008.html">Categoría 2008</a></div>

                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <h4>--------</h4>
                                                            <div class="ritekhela-megalist">
                                                                <div class="list"><a href="programacion_categoria2009.html">Categoría 2009</a></div>
                                                                <div class="list"><a href="programacion_categoria2011.html">Categoría 2011</a></div>
                                                                <div class="list"><a href="programacion_categoria2012.html">Categoría 2012</a></div>
                                                                <div class="list"><a href="programacion_categoria2013.html">Categoría 2013</a></div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 ritekhela-megamenu-thumb">
                                                            <img src="extra-images/megamenu-frame.jpg" alt="">
                                                        </div>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="shop-grid.html">Tienda</a>
                                            </li>
                                            <li><a href="contact-us.html">Contactanos</a></li>
                                        </ul>
                                    </nav>
                                </div>
                                <ul class="ritekhela-navsearch">
                                    <li>
                                        <a href="#" class="ritekhela-open-cart"><i class="fab fa-opencart"></i></a>
                                        <div class="ritekhela-cart-box">
                                            <h2>Tiene 2 itens pedidos</h2>
                                            <ul>
                                                <li>
                                                    <figure><a href="#"><img src="extra-images/cartbox-1.png" alt=""></a></figure>
                                                    <div class="ritekhela-cartbox-text">
                                                        <h6><a href="#">Remera</a></h6>
                                                        <span class="ritekhela-cartbox-price ritekhela-color-two">$35.99 <small>$43.00</small></span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <figure><a href="#"><img src="extra-images/cartbox-2.png" alt=""></a></figure>
                                                    <div class="ritekhela-cartbox-text">
                                                        <h6><a href="#">Gorra y barbijo</a></h6>
                                                        <span class="ritekhela-cartbox-price ritekhela-color-two">$21.00</span>
                                                    </div>
                                                </li>
                                            </ul>
                                            <h5>Subtotal <span class="ritekhela-color-two">$57</span></h5>
                                        </div>
                                    </li>
                                    <li><a href="#" data-toggle="modal" data-target="#ritekhelamodalsearch"><i class="fa fa-search"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--// Main Header //-->

        </header>
        <!--// Header //-->

        <div>
            @if (ViewBag.Id != null)
            {//alta exitosa
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>¡Éxito!</strong> @ViewBag.Id
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true"><span class="lnr lnr-cross-circle"></span></span>
                    </button>
                </div>
            }
            else if (ViewBag.Mensaje != null)
            {//cartel general
                <div class="alert alert-info alert-dismissible fade show" role="alert">
                    <strong>Información:</strong> @ViewBag.Mensaje
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true"><span class="lnr lnr-cross-circle"></span></span>
                    </button>
                </div>
            }
            else if (ViewBag.Error != null)
            {//alta exitosa
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>¡Error!</strong> @ViewBag.Error
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true"><span class="lnr lnr-cross-circle"></span></span>
                    </button>
                </div>
            }
            else if (!String.IsNullOrWhiteSpace(ViewBag.Error))
            {//ocurrió un error
                <environment names="Development">
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <strong>¡Error!</strong> Ocurrió: @ViewBag.Error
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true"><span class="lnr lnr-cross-circle"></span></span>
                        </button>
                        <a class="btn btn-primary" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false"><span class="lnr lnr-plus-circle"></span></a>
                        <div class="collapse multi-collapse" id="multiCollapseExample1">
                            @ViewBag.StackTrace
                        </div>
                    </div>
                </environment>
            }
            <main role="main">
                @RenderBody()
            </main>
        </div>

        <!--// Footer //-->
        <footer id="ritekhela-footer" class="ritekhela-footer-one">

            <!--// Footer Widget //-->
            <div class="ritekhela-footer-widget">
                <div class="container">
                    <div class="row">
                        <aside class="widget col-md-6 widget_about_info">
                            <a href="index-2.html"><img src="images/logo.jpg" alt=""></a>
                            <p>"Persevera y triunfarás"</p>
                            <div class="footer_widget_title"> <h2>Redes Sociales</h2> </div>
                            <div class="widget_about_info_social">
                                <a href="https://www.facebook.com/Club-Deportivo-La-Ribera-Villa-Mercedes-San-Luis-2287714841487000/" class="fab fa-facebook-f"></a>
                                <a href="https://www.instagram.com/clubdeportivo_laribera/?hl=es-la" class="fab fa-instagram"></a>
                            </div>
                        </aside>
                        <aside class="widget col-md-6 widget_about_info">
                            <div class="footer_widget_title"> <h2>Contactanos</h2> </div>
                            <ul>
                                <li><i class="fa fa-map-marker-alt"></i>Jorge Gabriel Pujol, Villa Mercedes, San Luis</li>
                                <li><i class="fa fa-phone"></i> (+54) 2657 50-0027</li>
                                <li><i class="fa fa-envelope"></i> clubdeportivolariberavm@hotmail.com</li>
                            </ul>
                        </aside>
                    </div>
                </div>
            </div>
            <!--// Footer Widget //-->
            <!--// Footer CopyRight //-->
            <div class="ritekhela-copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <a href="#" class="ritekhela-back-top"><i class="fa fa-angle-up"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--// Footer CopyRight //-->

        </footer>
        <!--// Footer //-->
    </div>

    <!--// Search ModalBox //-->
    <div class="loginmodalbox modal fade" id="ritekhelamodalsearch" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body ritekhela-bgcolor-two">
                    <h5 class="modal-title">Busca en este sitio</h5>
                    <a href="#" class="close ritekhela-bgcolor-two" data-dismiss="modal" aria-label="Close">
                        <i class="fa fa-times"></i>
                    </a>
                    <form>
                        <input type="text" value="Escribe algo para buscar" onblur="if(this.value == '') { this.value ='Escribe algo para buscar'; }" onfocus="if(this.value =='Escribe algo para buscar') { this.value = ''; }">
                        <input type="submit" value="Buscar" class="ritekhela-bgcolor">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery -->
   
    <script src="~/script/jquery.js"></script>
    <script src="~/script/popper.min.js"></script>
    <script src="~/script/bootstrap.min.js"></script>
    <script src="~/script/slick.slider.min.js"></script>
    <script src="~/script/jquery.fancybox.min.js"></script>
    <script src="~/script/isotope.min.js"></script>
    <script src="~/script/smartmenus.min.js"></script>
    <script src="~/script/progressbar.js"></script>
    <script src="~/script/jquery.countdown.min.js"></script>
    <script src="~/script/functions.js"></script>



    <script>
        $('[data-fancybox]').fancybox({
            animationEffect: "slide",
            transitionEffect: "circular",
            loop: true,
            buttons: [
                "slideShow",
                "fullScreen",
                "download",
                "close"
            ]
        });

        function modalLogin() {
            var abrirModal = () => {
                $('#ritekhelamodalcenter').modal("show");
            }

            $.ajax({
                    url: `@Url.Action("LoginModal", "Usuarios")`,
                }).done(res => {
                    console.log("Modal: ", res);
                    var div = document.createElement("div");
                    div.innerHTML = res;
                    document.body.appendChild(div);
                    abrirModal();
                }).fail(res => {
                    console.log("Error: ", res);
                });
        }
        function modalRegistro() {
            var abrirModal = () => {
                $('#registrarUsuario').modal("show");
            }

            $.ajax({
                    url: `@Url.Action("RegistroModal", "Usuarios")`,
                }).done(res => {
                    console.log("Modal: ", res);
                    var div = document.createElement("div");
                    div.innerHTML = res;
                    document.body.appendChild(div);
                    abrirModal();
                }).fail(res => {
                    console.log("Error: ", res);
                });
        }
    </script>
    
    
    @RenderSection("Scripts", required: false)
</body>
</html>
